<body>
<form #regform="ngForm" novalidate (ngSubmit)="onSubmit(regform.value)">
    <div class="shdw">
    <h1>User Registration</h1>
    <pre></pre>
    <div class="form-group"> 
        <label for="firstname">First Name</label><br>
        <input  #firstname="ngModel" required minlength="2" maxlength="14" type="text" name="firstname" class="form-control" placeholder="Enter your First Name" ngModel>
        <div *ngIf="firstname.touched && firstname.invalid" class="alert alert-danger">
            <p *ngIf="firstname.hasError('required')">First name is required</p>
            <p *ngIf="firstname.hasError('minlength')">Minimum length should be atleast 2</p>
        </div>
    </div>
    <pre></pre>
    <div class="form-group">
        <label for="lastname">Last Name </label><br> 
        <input #lastname="ngModel" required minlength="2" maxlength="14" type="text" name="lastname" class="form-control" placeholder="Enter your Last Name" ngModel>
        <div *ngIf="lastname.touched && lastname.invalid" class="alert alert-danger">
            <p *ngIf="lastname.hasError('required')">Last name is required</p>
            <p *ngIf="lastname.hasError('minlength')">Minimum length should be atleast 2</p>
        </div>
    </div>
    <pre></pre>
    <div class="form-group">
        <label for="password">Password</label><br> 
        <input #password="ngModel" type="password" required name="password" class="form-control" placeholder="Enter your Password" ngModel>
        <div *ngIf="password.touched" class="alert alert-danger">
            <p *ngIf="password.hasError('required')">Password is required</p>
            <p *ngIf="password.hasError('minlength')">Minimum length should be atleast 8</p>
        </div>
    </div>
    <pre></pre>
    <div class="form-group">
        <label for="password">Confirm Password</label><br> 
        <input #cpassword="ngModel" type="password" name="cpassword" class="form-control" placeholder="Confirm your Password" ngModel (keyup)="onBlur(regform.value)">
        <div *ngIf="password.touched && password.invalid" class="alert alert-danger">
            <p *ngIf="cpassword.hasError('required')">Password must be re-entered</p>
        </div>
        <p class="alert alert-danger">{{message}}</p>
    </div>
    <pre></pre>
    <div class="form-group">
        <label for="email">Email</label><br>
        <input #email="ngModel" required pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$" type="text" name="email" class="form-control" placeholder="name@gmail.com" ngModel>
        <div *ngIf="email.touched && email.invalid" class="alert alert-danger">
            <p *ngIf="email.hasError('required')">Email is required</p>
            <p *ngIf="email.hasError('pattern')">Enter valid email</p>
        </div>
    </div>
    <pre></pre>
    <div class="form-group">
        <label for="date_of_Birth">Date of Birth</label><br>
        <input #date_of_Birth="ngModel" type="date" name="date_of_Birth" class="form-control" ngModel>
        <div *ngIf="date_of_Birth.touched && date_of_Birth.invalid" class="alert alert-danger">
            <p *ngIf="date_of_Birth.hasError('required')">DOB is required</p>
        </div>
    </div>
    <pre></pre>
    <div class="form-group">
        <label for="contact">Phone Number</label><br>
        <input #contact="ngModel" required  pattern="^(?:(?:\+|0{0,2})91(\s*[\-]\s*)?|[0]?)?[6789]\d{9}$" type="text" name="contact" class="form-control" placeholder="Enter your Phone Number" ngModel>
        <div *ngIf="contact.touched && contact.invalid" class="alert alert-danger">
            <p *ngIf="contact.hasError('required')">Number is required</p>
            <p *ngIf="contact.hasError('pattern')">Number is not valid in INDIA</p>
        </div>
    </div>
    <pre></pre>
    <div class="form-group">
        <label for="gender">Gender</label><br>
        <input #gender="ngModel" class="form-check-input" name="gender" ng-control="options" type="radio" value="Male"  ngModel > Male &nbsp;
        <input #gender="ngModel" class="form-check-input" name="gender" ng-control="options" type="radio" value="Female"  ngModel > Female &nbsp;
        <input #gender="ngModel" class="form-check-input" name="gender" ng-control="options" type="radio" value="Others"  ngModel > Others &nbsp;
        <div *ngIf="gender.touched && gender.invalid" class="alert alert-danger">
            <p *ngIf="gender.hasError('required')">Gender is required</p>
        </div>
    </div>
    <pre></pre>
    <div class="text-center">
    <button type="submit" class="btn btn-primary" [disabled]="!regform.valid" value="submit">Submit</button>
    </div>
    </div>
</form>    
</body>