<div class="container" *ngIf="show">
    <div class="row prof-card">
        <div class="col-lg-3 d-flex justify-content-center"  *ngFor="let user of steplist">
            <div class="card mb-4" style="width: 18rem;">
                <img class="card-img-top img1" [src]="user.user_image" alt="Card image cap">
                <div class="card-body text-center">
                  <h5 class="card-title">{{user.step_id}}</h5>
                  <h5 class="card-title">{{user.firstname}}  {{user.lastname}}</h5>
                  <h5 class="card-title">{{user.state}}</h5>
                  <!-- <div class="button1"> -->
                  <button class="btn button1" (click)="GetUserById(user.step_id)">Deatils</button>
                  <!-- </div> -->
                </div>
              </div>
          </div>
    </div>
</div>

<!-- 
[src]="'data:image/jpg;base64'+user.user_image" -->




<!-- <div class="container" >
    <div class="row">
        <div class="col-lg-3 d-flex justify-content-center"  >
            <div class="card">
                <img class="card-img-top" src="https://images.unsplash.com/photo-1511367461989-f85a21fda167?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8Mnx8cHJvZmlsZXxlbnwwfHwwfHw%3D&auto=format&fit=crop&w=600&q=60" alt="Card image cap">
                <div class="card-body">
                  <h5 class="card-title">Step Id: 6515</h5>
                  <h5 class="card-title">Name: Firstname  Lastname</h5>
                  <h5 class="card-title">State: Maharashtra</h5> <br>
                  <div class="button">
                      <button class="btn btn-primary">Deatils</button>
                  </div>
                </div>
              </div>
          </div>
    </div>
</div> -->









<div class="container" *ngIf="!show">
    <div class="main-body">
          <div class="row gutters-sm">
            <div class="col-md-4 mb-3">
              <div class="card">
                <div class="card-body">
                  <div class="d-flex flex-column align-items-center text-center">
                    <img  alt="Admin"    [src]="user_image" class="rounded-circle" width="150">
                    <div class="mt-3">
                      <h4>{{user.firstname}} {{user.lastname}}</h4>
                      <p class="text-muted font-size-sm">{{user.address}},{{user.city}},{{user.state}},{{user.pincode}}</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-8">
              <div class="card mb-3">
                <div class="card-body">
                  <div class="row">
                    <div class="col-sm-3">
                      <h6 class="mb-0">Age</h6>
                    </div>
                    <div class="col-sm-9 text-secondary">
                      {{user.age}}
                    </div>
                  </div>
                  <hr>
                  <div class="row">
                    <div class="col-sm-3">
                      <h6 class="mb-0">Father Name</h6>
                    </div>
                    <div class="col-sm-9 text-secondary">
                      {{user.fathername}}
                    </div>
                  </div>
                  <hr>
                  <div class="row">
                    <div class="col-sm-3">
                      <h6 class="mb-0">Mother Name</h6>
                    </div>
                    <div class="col-sm-9 text-secondary">
                      {{user.mothername}}
                    </div>
                  </div>
                  <hr>
                  <div class="row">
                    <div class="col-sm-3">
                      <h6 class="mb-0">Spouse Name</h6>
                    </div>
                    <div class="col-sm-9 text-secondary">
                      {{user.spouse_Name}}
                    </div>
                  </div>
                  <hr>
                  <div class="row">
                    <div class="col-sm-3">
                      <h6 class="mb-0">Identity Proof Name</h6>
                    </div>
                    <div class="col-sm-9 text-secondary">
                      {{user.identity_Proof}}
                    </div>
                  </div>
                  <hr>
                  <div class="row">
                    <div class="col-sm-3">
                      <h6 class="mb-0">Identity Proof Image</h6>
                    </div>
                    <div class="col-sm-9 text-secondary">
                      <!-- Button trigger modal -->
<button type="button" class="btn button1" data-bs-toggle="modal" data-bs-target="#exampleModal" style="color: black;">
  View Document
</button>

<!-- Modal -->
<div class="modal fade " id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header text-center">
        <h5 class="modal-title" id="exampleModalLabel">Identity Proof Image</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body justify-content-center">
        <img  alt="Admin"     [src]="user_identity_proof"  width="470">
      </div>
    </div>
  </div>
</div>
                    </div>
                  </div>
                  <hr>
                </div>
              </div>
            </div>
          </div>
          <div class="text-center">
            <button  class="btn btn-dark" disabled *ngIf="user.is_Approoved">Aprooved</button>
            <button (click)="Aproove_User(user.step_Id)" class="btn btn-dark" *ngIf="!user.is_Approoved">Aproove</button>
          </div>
        </div>
    </div>







