*{
    font-family: 'Trebuchet MS';
}

.img1{
    width: 50% ;
    height: 100%;
    margin-left: 25%;
    border-radius: 35px;
    padding: 15px;
    
}

.prof-card .card{
    border-radius: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.prof-card .card h5{
    margin: 10px;
}

.prof-card .button1{
    text-align: center;
    background-color: rgb(255, 174, 0);
    border-radius: 10px;
}
