<div class="container" style="min-height: 400px;;">
    <div class="row" >
        <div class="col-lg-3 d-flex justify-content-center mt-3"  *ngFor="let ngo_sector of Sectors">
            <div class="shadow p-3 mb-5 bg-white rounded text-center" style="width:400px;font-weight: bold;background-image: linear-gradient(to right, rgba(255, 127, 0,0.6), rgba(50,205,50,0.7));
            background-repeat: no-repeat;
            background-attachment: relative;
            background-size: cover;"> {{ngo_sector.sector}}</div>
            
          </div>
    </div>
</div>


