<body>
    <form #regform="ngForm" novalidate (ngSubmit)="onSubmit(regform.value)">
        <div class="shdw">
            <h1>Forgot Password ?</h1>
            <pre></pre>
            <div class="form-group">
                <label for="email">Email</label><br>
                <input #email="ngModel" required pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$" type="text" name="email" class="form-control" placeholder="name@gmail.com" ngModel>
                <div *ngIf="email.touched && email.invalid" class="alert alert-danger">
                    <p *ngIf="email.hasError('required')">Email is required</p>
                    <p *ngIf="email.hasError('pattern')">Enter valid email</p>
                </div>
            </div>
            <pre></pre>
            <div class="form-group">
                <label for="npassword">New Password</label><br> 
                <input #npassword="ngModel" required  minlength="8" type="password" name="npassword" class="form-control" placeholder="Enter new password" ngModel>
                <div *ngIf="npassword.touched && npassword.invalid" class="alert alert-danger">
                    <p *ngIf="npassword.hasError('required')">Password is required</p>
                    <!-- <p *ngIf="npassword.hasError('pattern')">Password must be of 8 characters, at least 1 uppercase letter, 1 lowercase letter, 1 number and 1 special character</p> -->
                </div>
            </div>
            <pre></pre>
            <div class="form-group">
                <label for="cnpassword">Confirm New Password</label><br> 
                <input #cnpassword="ngModel" required minlength="8" type="password" name="cnpassword" class="form-control" placeholder="Please confirm new password" ngModel>
                <div *ngIf="cnpassword.touched && cnpassword.invalid" class="alert alert-danger">
                    <p *ngIf="cnpassword.hasError('required')">Password is required</p>
                    <!-- <p *ngIf="cnpassword.hasError('notEqual')">Password does not match</p> -->
                </div>
            </div>
            <pre></pre>
            <div class="form-submit">
                <button type="submit" class="btn btn-primary"  value="submit">Submit</button>
                <!-- <router-outlet></router-outlet> -->
            </div>
        </div>
    </form>
</body>